.content{
    height:1200px;
}

.download_top {
    padding: 10px;
    border-bottom: 1px solid #ff7f00;
    height: 20px;
}

.download_list {
    padding: 10px;
}

    .download_list ul li {
        padding: 9px;
        width: 124px;
        margin-right: 10px;
        border: 1px solid #cccccc;
        float:left;
        margin-top:10px;
        margin-bottom:10px;
    }

        .download_list ul li:nth-child(5n) {
            margin-right: 0;
        }

        .download_list ul li>img {
            width: 124px;
            height: 240px;
        }

a {
    text-decoration: none;
    color: #ff7f00;
}
