.news_top {
    padding: 10px;
    border-bottom: 1px solid #ff7f00;
    height:20px;
}

.news_list{
    padding:10px;
    height:880px;
}

.news_list ul li{
    height:30px;
    line-height:30px;
    border-bottom:1px dashed #333333;
    display:block;
}

a{
    text-decoration:none;
    color:#333333;
}
